<div>
  <nav class="navbar navbar-expand-lg ">
    <div class="navbar-nav ">
      <a class="nav-link" routerLink="/proposal" routerLinkActive="active">Proposal</a>
      <a class="nav-link" routerLink="/proposal/add" routerLinkActive="active">Proposal add</a>
      <a class="nav-link" routerLink="/author" routerLinkActive="active">Author</a>
      <a class="nav-link" routerLink="/author/add" routerLinkActive="active">Author add</a>
      <a class="nav-link" routerLink="/conference" routerLinkActive="active">Conferences</a>
      <a class="nav-link" routerLink="/conference/add" routerLinkActive="active">Conference add</a>
      <a class="nav-link" routerLink="/section" routerLinkActive="active">Sections</a>
      <a class="nav-link" routerLink="/section/add" routerLinkActive="active">Section add</a>
    </div>
  </nav>
  <body>
  <router-outlet></router-outlet>
  </body>
</div>
