<form [formGroup]="Conference" class="conference-container text-center">
  <br>
  <div class="form-group">
    <mat-form-field appearance="fill" class="mr-3">
      <mat-label>Choose abstract deadline</mat-label>
      <label>
        <input [(ngModel)]="currentConference.deadlineAbstract" [matDatepicker]="picker2"
               formControlName="DeadlineAbstract" id="DeadlineAbstract"
               matInput>
      </label>
      <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="ml-3">
      <mat-label>Choose proposal deadline</mat-label>
      <label>
        <input [(ngModel)]="currentConference.deadlineProposal" [matDatepicker]="picker3"
               formControlName="DeadlineProposal" id="DeadlineProposal"
               matInput>
      </label>
      <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="text-center">
    <button
      (click)="updateConference(Conference.get('DeadlineAbstract').value, Conference.get('DeadlineProposal').value)"
      class="btn btn-outline-light btn" type="button">Update Deadlines
    </button>
  </div>
  <br>

</form>
